<%- include("partials/header.ejs") %>

    <div class="title">
        <h1 class="title-h1" id="date">Date</h1>
    </div>

    <div class="task-container">
        <% if (locals.task) { %>
            <p id="taskCount">Number of tasks left: <%= task.length %>/<%= task.length %></p>
            <% for( let i=0; i < task.length; i++ ) { %>
                <div class="task">
                    <input type="checkbox" class="checkbox" value="<%= task[i] %>">
                    <p><%= task[i] %></p>
                </div>
            <% } %>

        <% } else { %>
            <p>Your todo list is empty!</p>
            <% } %>

        <form class="item" action="/addTask" method="POST">
            <input type="hidden" name="listType" value="today">
            <input type="text" name="task" placeholder="New task" autocomplete="off" required pattern="\S(.*\S)?" title="Remove blank spaces before and after the text!👀">
            <button type="submit">+</button>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>